/* Base styles for header */
.header {
  background: linear-gradient(to right, #ffffff, #f0f4f8);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styles */
.logo {
  max-height: 60px;
  width: auto;
}

/* Navigation links styling */
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.nav-link {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
}

.nav-link:hover {
  color: #0056b3;
  background-color: rgba(0, 123, 255, 0.1);
}

/* Register button */
.btn-register {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  background-color: #358ff0;
  border: none;
  color: white;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.btn-register:hover {
  background-color: #005cbe;
  border: 1px solid #0056b3;
}

/* Hamburger Menu for mobile */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px;
  transition: all 0.3s ease;
}

/* Active hamburger menu */
.menu-icon.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.active div:nth-child(2) {
  opacity: 0;
}

.menu-icon.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-list {
    display: none; /* Hide nav list initially on mobile */
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
    transition: all 0.3s ease-in-out;
  }

  .nav-list.active {
    display: flex; /* Show nav links when menu is open */
  }

  .nav-link {
    padding: 15px 0;
  }

  .menu-icon {
    display: flex; /* Display hamburger icon on mobile */
  }

  .btn-register {
    width: 100%;
    margin-top: 10px;
  }

  /* Search bar styles */
  .search-container {
    margin-top: 10px;
  }

  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
  }

  .search-input:focus {
    border-color: #358ff0;
    outline: none;
  }
}
